{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}


{% block content %}
  <div class="container">


  <h1>Members</h1>
  
  <ul>
    {% for x in mymembers %}
      <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
    {% endfor %}
  </ul>
  <table border='1'>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    {% for x in mymembers %}
      <tr>
        <td>{{ x.id }}</td>
          <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
  </div>